@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.content-container {
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.25);
    background: rgb(40, 44, 52);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.inner-item {
    padding: 20px;
    margin: auto;
}

.inner-item p:hover {
    transition: 0.1s;
    color:#e6e6e6;
}

.input-div {
    margin: 15px;
    margin-left: 30px;
    display: block;
}

.input-div p {
    margin: 10px;
    display: inline;
}

#p-1 {
    font-weight: 400;
    color: #eee;
}

#p-1::before {
    content: '\2018';
}

#p-1::after {
    content: '\2019';
}

#p-2 {
    font-weight: 500;
    color: #fff;
}

#p-2::before {
    content: '\201A';
}

#p-2::after {
    content: '\201A';
}

#p-3 {
    font-weight: 600;
    color: #ddd;
}

#p-3::before {
    content: '\201C';
}

#p-3::after {
    content: '\201D';
}

#p-4 {
    font-style: italic;
}

#p-4::before {
    content: '\201E';
}

#p-4::after {
    content: '\201E';
}

#p-5 {
    font-weight: 700;
}

#p-5::before {
    content: '\AB';
}

#p-5::after {
    content: '\BB';
}