@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, .container {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

button {
    outline: none;
}

.container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.content-container {
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.25);
    background: rgb(40, 44, 52);
}

.inner-item {
    padding: 20px;
}

.inner-item p:hover {
    transition: 0.1s;
    color:#e6e6e6;
}

.item-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    margin: 15px;
    width: 100px;
    height: 40px;
    transition: 0.2s;
}

.item-button:hover {
    opacity: 0.8;
}

.button-front-back {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 0px;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    box-shadow: inset 5px 5px rgba(0, 68, 255, 0.1);
}

#button-front {
    background: linear-gradient(to left top, rgb(0, 89, 255), rgb(255, 0, 221));
}

#button-back {
    background: linear-gradient(to right top, rgb(111, 0, 255), rgb(47, 117, 245));
}

.flip-box {
    position: relative;
    left: 15px;
    top: 15px;
    width: 100px;
    height: 40px;
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    color: black;
  }
  
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
  }

#button-2 {
    display: block;
    position: relative;
    background: linear-gradient(to left top, rgb(72, 203, 255), rgb(229, 33, 255));
    box-shadow: inset 5px 5px rgba(195, 0, 255, 0.5);
    z-index: 1;
    top: 15px;
}

#button-2::before {
    border-radius: inherit;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, rgb(191, 255, 72), rgb(0, 201, 60));   
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

#button-2:hover::before {
    opacity: 1;
}

#button-3 {
    display: block;
    position: relative;
    background: linear-gradient(to left top, rgb(72, 173, 255), rgb(33, 255, 170));
    box-shadow: inset 5px 5px rgba(0, 255, 157, 0.5);
    z-index: 1;
    top: 15px;
    margin-bottom: 30px;
}

#button-3::before {
    border-radius: inherit;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, rgb(255, 72, 72), rgb(181, 201, 0));   
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

#button-3:hover::before {
    opacity: 1;
}